@mixin m-button($bgColor: white) {
    padding: 0.3em 1em;
    background-color: #{$bgColor};
    font-size: 0.8em;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

@mixin m-block($jContent: space-between) {
    display: flex;
    align-items: center;
    justify-content: #{$jContent};
}
